In [2]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/subhashsoni/.local/pipx/venvs/jupyterlab/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/subhashsoni/.local/pipx/venvs/jupyterlab/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
porsa_survey = pd.read_excel('porsa_block_survey_data.xlsx', sheet_name='Sheet1')

In [5]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Users/subhashsoni/.local/pipx/venvs/jupyterlab/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/subhashsoni/.local/pipx/venvs/jupyterlab/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
porsa_survey.head()

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
0,MADHYA PRADESH,Morena,PORSA,R3S008,KICHOL,SIKHARA,KICHOL TO SIKHARA,LHS,No,NaN,...,Culvert ed,NaN,attachments/s10_20/6a1eb435-2781-46e2-946d-423...,23,417,3919,R3,NaN,attachments/s10_20/dcc757b2-9a64-4acb-9ce8-e48...,1
1,MADHYA PRADESH,Morena,PORSA,R3S008,KICHOL,SIKHARA,KICHOL TO SIKHARA,LHS,No,NaN,...,Re,NaN,NaN,23,417,3919,R3,NaN,NaN,2
2,MADHYA PRADESH,Morena,PORSA,R3S008,KICHOL,SIKHARA,KICHOL TO SIKHARA,LHS,No,NaN,...,Culvert ed,NaN,attachments/s10_20/1d606d79-7de6-4b28-9720-55a...,23,417,3919,R3,Pmgy,attachments/s10_20/9cf99c0b-8dd6-45c6-ab8f-4ed...,3
3,MADHYA PRADESH,Morena,PORSA,R3S008,KICHOL,SIKHARA,KICHOL TO SIKHARA,LHS,No,NaN,...,Re,NaN,attachments/s10_20/b5318ec1-c159-42ba-b6f7-df0...,23,417,3919,R3,NaN,attachments/s10_20/de85f999-075e-4ccd-a2c9-9f2...,4
4,MADHYA PRADESH,Morena,PORSA,R3S008,KICHOL,SIKHARA,KICHOL TO SIKHARA,LHS,No,NaN,...,GP Shikhara,attachments/s10_20/69440cce-c4bc-49d4-84e9-af1...,NaN,23,417,3919,R3,NaN,NaN,5

In [7]:
porsa_survey.columns

Index(['state_name', 'district_n', 'block_name', 'span_id', 'from_gp_na',
       'to_gp_name', 'span_name', 'ofc_laying', 'forest_cov', 'forest_sta',
       'forest_s_1', 'distance', 'forest_end', 'forest_e_1', 'route_owne',
       'road_name', 'road_surfa', 'terrain_ty', 'strata_typ', 'road_autho',
       'crossing', 'crossing_t', 'crossing_p', 'crossing_l', 'suggested_',
       'route_feas', 'reason_for', 'start_loc_cordinate', 'forest_s_2',
       'forest_e_2', 'crossing_Start', 'crossing_end', 'end_loca_coordinate',
       'scope', 'road_edge_', 'road_edg_3', 'end_point_name', 'end_loca_phpto',
       'crossing_5', 'state_code', 'district_c', 'block_code', 'ring_no',
       'crossing_a', 'ch_no', 'SEQ'],
      dtype='object')

In [8]:
porsa_survey.sort_values('span_name').span_name.unique()

array(['ADHANPUR TO ADHANPUR', 'AJHENDA TO ADHANPUR', 'AMLHEDA TO BARWAI',
       'ARRON TO RAJOUDHA', 'BARWAI TO RATANBASAI', 'BHADAWALI TO CHAPAK',
       'BHAJPURA TO NAND KA PURA', 'BUDHARA TO MAHDORA',
       'CHAPAK TO KICHOL', 'DHARM GARH TO PARDUKAPURA',
       'DODARI TO NAGARA PORSA', 'DOHARETA TO MATIAPURA',
       'GHADIA PORSA TO KURETHA', 'HAMIRAPURA TO KHERLI PORSA',
       'HAMIRAPURA TO RACHHED', 'HINGAWALI TO AMLHEDA',
       'HINGAWALI TO PORSA OLT', 'JOUTAI TO DHARM GARH',
       'KARSANDA TO HAMIRAPURA', 'KASMADA TO AJHENDA',
       'KHADIAPORSA TO SANTHON', 'KHERLI PORSA TO KHADIAPORSA',
       'KHOYLA TO RAIPURA', 'KICHOL TO SIKHARA',
       'KONTHAR KHURD TO PORSA OLT', 'KONTHARKALAN TO KONTHAR KHURD',
       'KURETHA TO KHERLI PORSA', 'LALPURA TO PORSA OLT',
       'MAHDORA TO TARSMA', 'MAHUA TO GHADIA PORSA',
       'MATIAPURA TO BHAJPURA', 'NAGARA PORSA TO BHADAWALI',
       'NAND KA PURA TO BUDHARA', 'PALI TO SENTHRABADAI',
       'PARDUKAPURA TO RANHERA', 'PORSA OLT TO DODARI',
       'PORSA OLT TO DOHARETA', 'PORSA OLT TO JOUTAI',
       'PORSA OLT TO KHOYLA', 'RACHHED TO RUDHAWALI',
       'RAIPURA TO KARSANDA', 'RAJOUDHA TO PORSA OLT', 'RANHERA TO PALI',
       'RATANBASAI TO ROOAR', 'ROOAR TO VIJOLIPURA', 'RUDHAWALI TO USETH',
       'SANTHON TO LALPURA', 'SANTHON TO SANTHON',
       'SENTHRABADAI TO SHYAMPURKALAN', 'SHYAMPURKALAN TO HINGAWALI',
       'SIKHARA TO ARRON', 'SILAWALI - DHOURRA',
       'T-POINT PORSA OLT TO SENTHARA AHIR', 'T-POINT USETH TO BINDAWA',
       'TARSMA TO KONTHARKALAN', 'USETH TO VIJAYGARH',
       'VIJAYGARH TO MAHUA', 'VIJOLIPURA TO KASMADA'], dtype=object)

In [9]:
porsa_survey.start_loc_cordinate.head(10)

0    POINT(78.49714534200001 26.708809475166664)
1              POINT(78.494903006 26.7035537535)
2         POINT(78.487802673 26.697127514666665)
3    POINT(78.48482757183334 26.697822786333337)
4          POINT(78.47322723399999 26.699091229)
5    POINT(78.42554879266666 26.704305553166666)
6         POINT(78.3708006165 26.67794781116667)
7    POINT(78.37183775499999 26.677866236999996)
8          POINT(78.376267489 26.67867834033333)
9         POINT(78.3783473745 26.67865328633333)
Name: start_loc_cordinate, dtype: object

In [10]:
temp_df = porsa_survey[porsa_survey.span_name == 'ADHANPUR TO ADHANPUR'].sort_values('SEQ')

In [11]:
temp_df

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,1
357,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Ce,NaN,NaN,23,417,3919,R1-C1,NaN,NaN,2
356,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Km stone pinhat,attachments/s10_20/41ec236d-1310-404b-b828-c85...,NaN,23,417,3919,R1-C1,NaN,NaN,3

In [12]:
temp_df.sort_values('SEQ')

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,1
357,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Ce,NaN,NaN,23,417,3919,R1-C1,NaN,NaN,2
356,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Km stone pinhat,attachments/s10_20/41ec236d-1310-404b-b828-c85...,NaN,23,417,3919,R1-C1,NaN,NaN,3

In [13]:
temp_df.insert(11, "chainage", "NA")

In [14]:
temp_df.chainage

358    NA
357    NA
356    NA
Name: chainage, dtype: object

In [15]:
temp_df.columns

Index(['state_name', 'district_n', 'block_name', 'span_id', 'from_gp_na',
       'to_gp_name', 'span_name', 'ofc_laying', 'forest_cov', 'forest_sta',
       'forest_s_1', 'chainage', 'distance', 'forest_end', 'forest_e_1',
       'route_owne', 'road_name', 'road_surfa', 'terrain_ty', 'strata_typ',
       'road_autho', 'crossing', 'crossing_t', 'crossing_p', 'crossing_l',
       'suggested_', 'route_feas', 'reason_for', 'start_loc_cordinate',
       'forest_s_2', 'forest_e_2', 'crossing_Start', 'crossing_end',
       'end_loca_coordinate', 'scope', 'road_edge_', 'road_edg_3',
       'end_point_name', 'end_loca_phpto', 'crossing_5', 'state_code',
       'district_c', 'block_code', 'ring_no', 'crossing_a', 'ch_no', 'SEQ'],
      dtype='object')

In [16]:
temp_df.SEQ

358    1
357    2
356    3
Name: SEQ, dtype: int64

In [17]:
for _, row in temp_df.iterrows():
    for name, values in row.items():
        print(name)
        print(values)

state_name
MADHYA PRADESH
district_n
Morena
block_name
PORSA
span_id
R1-C1S009
from_gp_na
ADHANPUR
to_gp_name
ADHANPUR
span_name
ADHANPUR TO ADHANPUR
ofc_laying
LHS
forest_cov
No
forest_sta
nan
forest_s_1
nan
chainage
NA
distance
2583.98421335858
forest_end
nan
forest_e_1
nan
route_owne
nan
road_name
ADHANPUR
road_surfa
Cement
terrain_ty
Plains
strata_typ
Normal_Soil
road_autho
PMGY
crossing
No
crossing_t
nan
crossing_p
nan
crossing_l
nan
suggested_
nan
route_feas
Feasible
reason_for
nan
start_loc_cordinate
POINT(78.27077053 26.745665376666672)
forest_s_2
nan
forest_e_2
nan
crossing_Start
nan
crossing_end
nan
end_loca_coordinate
POINT(78.26783429700001 26.76046135816667)
scope
New
road_edge_
POINT(78.27077312333333 26.745662414499996)
road_edg_3
POINT(78.27081792166668 26.74562787933333)
end_point_name
GP ADHANPUR
end_loca_phpto
attachments/s10_20/beebd7f2-3cde-4d1e-af83-22333cf2ecb5.jpg
crossing_5
nan
state_code
23
district_c
417
block_code
3919
ring_no
R1-C1
crossing_a
nan
ch_no
nan
SEQ
1
state_name
MADHYA PRADESH
district_n
Morena
block_name
PORSA
span_id
R1-C1S009
from_gp_na
ADHANPUR
to_gp_name
ADHANPUR
span_name
ADHANPUR TO ADHANPUR
ofc_laying
LHS
forest_cov
No
forest_sta
nan
forest_s_1
nan
chainage
NA
distance
191.06736509088
forest_end
nan
forest_e_1
nan
route_owne
nan
road_name
Pinhat road
road_surfa
Cement
terrain_ty
Plains
strata_typ
Normal_Soil
road_autho
PMGY
crossing
Yes
crossing_t
Culvert
crossing_p
attachments/s10_20/9f0a6d72-07d5-40c7-9a68-a1d5d62e55d2.jpg
crossing_l
8.0
suggested_
GI+DWC+PCC
route_feas
Feasible
reason_for
nan
start_loc_cordinate
POINT(78.26943420799999 26.744401531499996)
forest_s_2
nan
forest_e_2
nan
crossing_Start
POINT(78.27068759033334 26.7456319665)
crossing_end
POINT(78.27073329966667 26.745680516833332)
end_loca_coordinate
POINT(78.27076385083333 26.745664754499998)
scope
New
road_edge_
POINT(78.2694384215 26.744399964333336)
road_edg_3
POINT(78.26948452666667 26.744367419333336)
end_point_name
Ce
end_loca_phpto
nan
crossing_5
nan
state_code
23
district_c
417
block_code
3919
ring_no
R1-C1
crossing_a
nan
ch_no
nan
SEQ
2
state_name
MADHYA PRADESH
district_n
Morena
block_name
PORSA
span_id
R1-C1S009
from_gp_na
ADHANPUR
to_gp_name
ADHANPUR
span_name
ADHANPUR TO ADHANPUR
ofc_laying
LHS
forest_cov
No
forest_sta
nan
forest_s_1
nan
chainage
NA
distance
110.832296767924
forest_end
nan
forest_e_1
nan
route_owne
nan
road_name
Pinhat road
road_surfa
Cement
terrain_ty
Plains
strata_typ
Normal_Soil
road_autho
PMGY
crossing
No
crossing_t
nan
crossing_p
nan
crossing_l
nan
suggested_
nan
route_feas
Feasible
reason_for
nan
start_loc_cordinate
POINT(78.268731456 26.743734007666664)
forest_s_2
nan
forest_e_2
nan
crossing_Start
nan
crossing_end
nan
end_loca_coordinate
POINT(78.26942084283334 26.744414603000003)
scope
New
road_edge_
POINT(78.26873182083334 26.74374123116667)
road_edg_3
POINT(78.26877512600001 26.743705476666666)
end_point_name
Km stone pinhat
end_loca_phpto
attachments/s10_20/41ec236d-1310-404b-b828-c85f20eefbd5.jpg
crossing_5
nan
state_code
23
district_c
417
block_code
3919
ring_no
R1-C1
crossing_a
nan
ch_no
nan
SEQ
3

In [18]:
temp_df

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,1
357,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Ce,NaN,NaN,23,417,3919,R1-C1,NaN,NaN,2
356,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Km stone pinhat,attachments/s10_20/41ec236d-1310-404b-b828-c85...,NaN,23,417,3919,R1-C1,NaN,NaN,3

In [19]:
new_row = temp_df.iloc[[0]].copy()
new_row['chainage'] = 0
new_row['distance'] = 0
new_row['SEQ'] = 0
pd.DataFrame(new_row)


temp_df = pd.concat([temp_df, new_row])
temp_df

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,1
357,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Ce,NaN,NaN,23,417,3919,R1-C1,NaN,NaN,2
356,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Km stone pinhat,attachments/s10_20/41ec236d-1310-404b-b828-c85...,NaN,23,417,3919,R1-C1,NaN,NaN,3
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,0

POINT NAME
TYPE
POSITION
OFFSET
SPAN_CONTINUITY
CHAINAGE
DISTENCE(M)
LATITUDE
LONGITUDE
ROUTE NAME
ROUTE TYPE
OFC TYPE
LAYING TYPE
ROUTE ID
ROUTE MARKER
MANHOLE
ROAD NAME
ROAD WIDTH(m)
ROAD SURFACE
OFC POSITION
APRX DISTANCE FROM RCL(m)
AUTHORITY NAME
ROAD CHAINAGE
ROAD STRUTURE TYPE
LENGTH (IN Mtr.)
PROTECTION TYPE
PROTECTION FOR
PROTECTION LENGTH (IN Mtr.)
UTILITY NAME
SIDE OF THE ROAD
SOIL TYPE
REMARKS

In [20]:
cols= ['POINT NAME',
'TYPE',
'POSITION',
'OFFSET',
'SPAN_CONTINUITY',
'CHAINAGE',
'DISTENCE(M)',
'LATITUDE',
'LONGITUDE',
'ROUTE NAME',
'ROUTE TYPE',
'OFC TYPE',
'LAYING TYPE',
'ROUTE ID',
'ROUTE MARKER',
'MANHOLE',
'ROAD NAME',
'ROAD WIDTH(m)',
'ROAD SURFACE',
'OFC POSITION',
'APRX DISTANCE FROM RCL(m)',
'AUTHORITY NAME',
'ROAD CHAINAGE',
'ROAD STRUTURE TYPE',
'LENGTH (IN Mtr.)',
'PROTECTION TYPE',
'PROTECTION FOR',
'PROTECTION LENGTH (IN Mtr.)',
'UTILITY NAME',
'SIDE OF THE ROAD',
'SOIL TYPE',
'TERRAIN',
'REMARKS']
boq_ds_df = pd.DataFrame(columns=cols)

In [21]:
temp_df.columns

Index(['state_name', 'district_n', 'block_name', 'span_id', 'from_gp_na',
       'to_gp_name', 'span_name', 'ofc_laying', 'forest_cov', 'forest_sta',
       'forest_s_1', 'chainage', 'distance', 'forest_end', 'forest_e_1',
       'route_owne', 'road_name', 'road_surfa', 'terrain_ty', 'strata_typ',
       'road_autho', 'crossing', 'crossing_t', 'crossing_p', 'crossing_l',
       'suggested_', 'route_feas', 'reason_for', 'start_loc_cordinate',
       'forest_s_2', 'forest_e_2', 'crossing_Start', 'crossing_end',
       'end_loca_coordinate', 'scope', 'road_edge_', 'road_edg_3',
       'end_point_name', 'end_loca_phpto', 'crossing_5', 'state_code',
       'district_c', 'block_code', 'ring_no', 'crossing_a', 'ch_no', 'SEQ'],
      dtype='object')

In [22]:
boq_ds_df.columns

Index(['POINT NAME', 'TYPE', 'POSITION', 'OFFSET', 'SPAN_CONTINUITY',
       'CHAINAGE', 'DISTENCE(M)', 'LATITUDE', 'LONGITUDE', 'ROUTE NAME',
       'ROUTE TYPE', 'OFC TYPE', 'LAYING TYPE', 'ROUTE ID', 'ROUTE MARKER',
       'MANHOLE', 'ROAD NAME', 'ROAD WIDTH(m)', 'ROAD SURFACE', 'OFC POSITION',
       'APRX DISTANCE FROM RCL(m)', 'AUTHORITY NAME', 'ROAD CHAINAGE',
       'ROAD STRUTURE TYPE', 'LENGTH (IN Mtr.)', 'PROTECTION TYPE',
       'PROTECTION FOR', 'PROTECTION LENGTH (IN Mtr.)', 'UTILITY NAME',
       'SIDE OF THE ROAD', 'SOIL TYPE', 'TERRAIN', 'REMARKS'],
      dtype='object')

In [23]:
boq_ds_df.rename(columns={"LATITUDE":"CROSSING_START", "LONGITUDE":"CROSSING_END"}, inplace=True)

In [24]:
temp_df['road_edge_'].iloc[0].strip('POINT()').split(' ')

['78.27077312333333', '26.745662414499996']

In [25]:
temp_df = temp_df.sort_values('SEQ')
temp_df

,state_name,district_n,block_name,span_id,from_gp_na,to_gp_name,span_name,ofc_laying,forest_cov,forest_sta,...,end_point_name,end_loca_phpto,crossing_5,state_code,district_c,block_code,ring_no,crossing_a,ch_no,SEQ
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,0
358,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,GP ADHANPUR,attachments/s10_20/beebd7f2-3cde-4d1e-af83-223...,NaN,23,417,3919,R1-C1,NaN,NaN,1
357,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Ce,NaN,NaN,23,417,3919,R1-C1,NaN,NaN,2
356,MADHYA PRADESH,Morena,PORSA,R1-C1S009,ADHANPUR,ADHANPUR,ADHANPUR TO ADHANPUR,LHS,No,NaN,...,Km stone pinhat,attachments/s10_20/41ec236d-1310-404b-b828-c85...,NaN,23,417,3919,R1-C1,NaN,NaN,3

In [26]:
temp_df['chainage'].fillna(0.0)

358     0
358    NA
357    NA
356    NA
Name: chainage, dtype: object

In [27]:
temp_df['chainage'].replace('NA', 0, inplace=True)

/var/folders/cf/xqxdpxpn7sd3lfvzhjny5yn00000gn/T/ipykernel_49740/1292980716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  temp_df['chainage'].replace('NA', 0, inplace=True)
/var/folders/cf/xqxdpxpn7sd3lfvzhjny5yn00000gn/T/ipykernel_49740/1292980716.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  temp_df['chainage'].replace('NA', 0, inplace=True)

In [28]:
def calculate_chainage(row):
    chainage = 0
    if row['distance'] == 0:
        chainage = 0
    else:
        chainage = row['chainage'].shift(periods=-1, fill_value=None, axis=0) + row['distance']
        
df = temp_df['chainage'].shift(periods=-1, fill_value=None, axis=0) + temp_df['distance']
df

358       0.000000
358    2583.984213
357     191.067365
356            NaN
dtype: float64

In [29]:
l1 = list(temp_df['distance'])
chainages = [0.0] + [sum(l1[:i+1]) for i in range(1, len(l1))]
chainages

[0.0, 2583.98421335858, 2775.05157844946, 2885.883875217384]

In [30]:
pd.DataFrame([0.0] + [sum(list(temp_df['distance'])[:i+1]) for i in range(1, len(list(temp_df['distance'])))])

             0
0     0.000000
1  2583.984213
2  2775.051578
3  2885.883875

def categorize_value(value):
    value = str(value)  # Ensure value is string
    if any(sub in value.lower() for sub in ['re', 're ']):  # Check for 'Re' or 'RE'
        return 'CROSSING'
    elif any(sub in value.lower() for sub in ['cul', 'culvert', 'bridge']):  # Check for 'cul', 'Culvert', 'Bridge'
        return 'ROAD STRUCTURE'
    elif any(sub in value.lower() for sub in ['gp', 'gram panchyat', 'grampanchayat']):  # Check for 'GP', 'Gp', etc.
        return 'ASSET'
    else:
        return 'LANDMARK'

def haversine_distance(lat1, lon1, lat2, lon2):
    """Calculate the distance between two lat-long points using the Haversine formula."""
    # Convert latitude and longitude to radians
    lat1, lon1, lat2, lon2 = map(radians, [float(lat1), float(lon1), float(lat2), float(lon2)])
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    r = 6371e3  # Earth's radius in meters
    return c * r


def calculate_road_width(row):
    re1 = row['road_edge_'].strip('POINT()').split(' ')
    re2 = row['road_edg_3'].strip('POINT()').split(' ')
    road_width = haversine_distance(re1[1], re1[0], re2[1], re2[0])
    return road_width

def calculate_road_chainage(row):
    chainage = ''
    if 'kms' in str(row['end_point_name']).lower():
        chainage = row['end_point_name'] +", "+ row['end_loca_phpto']
    else:
        chainage = 'NA'
    return chainage 

def calculate_structure(row):
    structure = ''
    if 'cul' in row[end_point_name].str.lower():
        structure = 'CULVERT'
    elif 'bri' in row[end_point_name].str.lower():
        structure = 'BRIDGE'
    else:
        structure = ''
    return structure

def calculate_xing_length(row):
    xing_length = 0
    if 'cul' in row[end_point_name].str.lower() or 'bri' in row[end_point_name].str.lower()
        xing1 = row['crossing_Start'].strip('POINT()').split(' ')
        xing2 = row['crossing_end'].strip('POINT()').split(' ')
        xing_length = haversine_distance(re1[1], re1[0], re2[1], re2[0])
    return xing_length

def calculate_protec(row):
    protection = ''
    if 'cul' in row[end_point_name].str.lower():
        protection = 'DWC+PCC'
    elif 'bri' in row[end_point_name].str.lower():
        protection = 'GI+PCC'
    else:
        protection = ''

def calculate_protec_length(row):
    xing_length = 0
    if 'cul' in row[end_point_name].str.lower() or 'bri' in row[end_point_name].str.lower()
        xing1 = row['crossing_Start'].strip('POINT()').split(' ')
        xing2 = row['crossing_end'].strip('POINT()').split(' ')
        xing_length = haversine_distance(re1[1], re1[0], re2[1], re2[0])
        return xing_length + 2
    else:
        return 0
    
boq_ds_df['POINT NAME'] = temp_df['end_point_name'].str.upper()
boq_ds_df['TYPE'] = temp_df['end_point_name'].apply(categorize_value)
boq_ds_df['POSITION'] = temp_df['ofc_laying']
boq_ds_df['OFFSET'] = 'NA'
boq_ds_df['SPAN_CONTINUITY'] = temp_df['SEQ']
boq_ds_df['CHAINAGE'] = pd.DataFrame([0.0] + [sum(list(temp_df['distance'])[:i+1]) for i in range(1, len(list(temp_df['distance'])))])
boq_ds_df['DISTENCE(M)'] = temp_df['distance']
boq_ds_df['CROSSING_START'] = temp_df['crossing_Start']
boq_ds_df['CROSSING_END'] = temp_df['crossing_end']
boq_ds_df['ROUTE NAME'] = temp_df['span_name']
boq_ds_df['ROUTE TYPE'] = temp_df['scope']
boq_ds_df['OFC TYPE'] = '24F'
boq_ds_df['LAYING TYPE'] = 'UG'
boq_ds_df['ROUTE ID'] = temp_df['span_id']
boq_ds_df['ROUTE MARKER'] = 'NOT VISIBLE'
boq_ds_df['MANHOLE'] = 'NOT VISIBLE'
boq_ds_df['ROAD NAME'] = temp_df['road_name']
boq_ds_df['ROAD WIDTH(m)'] = temp_df.apply(calculate_road_width, axis=1)
boq_ds_df['ROAD SURFACE'] = temp_df['road_surfa']
boq_ds_df['OFC POSITION'] = temp_df['ofc_laying']
boq_ds_df['APRX DISTANCE FROM RCL(m)'] = 'NA'
boq_ds_df['AUTHORITY NAME'] = temp_df['road_autho']
boq_ds_df['ROAD CHAINAGE'] = temp_df.apply(calculate_road_chainage, axis=1)
boq_ds_df['ROAD STRUTURE TYPE'] = temp_df.apply(calculate_structure axis=1)
boq_ds_df['LENGTH (IN Mtr.)'] = temp_df.apply(calculate_xing_length axis=1)
boq_ds_df['PROTECTION TYPE'] = temp_df.apply(calculate_protec axis=1)
boq_ds_df['PROTECTION FOR'] = temp_df.apply(calculate_structure axis=1)
boq_ds_df['PROTECTION LENGTH (IN Mtr.)'] = temp_df.apply(calculate_protec_len axis=1)
boq_ds_df['UTILITY NAME'] = "NA"
boq_ds_df['SIDE OF THE ROAD'] = "NA"
boq_ds_df['SOIL TYPE'] = temp_df['strata_typ']
boq_ds_df['TERRAIN'] = temp_df['terrain_ty']
boq_ds_df['REMARKS'] = "NA"

In [ ]:
temp_df['state_name']
temp_df['district_n']
temp_df['block_name']

temp_df['from_gp_na']
temp_df['to_gp_name']

temp_df['ofc_laying']
temp_df['forest_cov']
temp_df['forest_sta']
temp_df['forest_s_1']
temp_df['chainage']

temp_df['forest_end']
temp_df['forest_e_1']
temp_df['route_owne']


temp_df['terrain_ty']
temp_df['strata_typ']

temp_df['crossing']
temp_df['crossing_t']
temp_df['crossing_p']
temp_df['crossing_l']
temp_df['suggested_']
temp_df['route_feas']
temp_df['reason_for']
temp_df['start_loc_cordinate']
temp_df['forest_s_2']
temp_df['forest_e_2']


temp_df['end_loca_coordinate']


temp_df['end_point_name']
temp_df['end_loca_phpto']
temp_df['crossing_5']
temp_df['state_code']
temp_df['district_c']
temp_df['block_code']
temp_df['ring_no']
temp_df['crossing_a']
temp_df['ch_no']

In [31]:
a = []
for col in temp_df.columns:
    a.append(f"boq_ds_df['{col}']")
    print(f"temp_df['{col}']")

temp_df['state_name']
temp_df['district_n']
temp_df['block_name']
temp_df['span_id']
temp_df['from_gp_na']
temp_df['to_gp_name']
temp_df['span_name']
temp_df['ofc_laying']
temp_df['forest_cov']
temp_df['forest_sta']
temp_df['forest_s_1']
temp_df['chainage']
temp_df['distance']
temp_df['forest_end']
temp_df['forest_e_1']
temp_df['route_owne']
temp_df['road_name']
temp_df['road_surfa']
temp_df['terrain_ty']
temp_df['strata_typ']
temp_df['road_autho']
temp_df['crossing']
temp_df['crossing_t']
temp_df['crossing_p']
temp_df['crossing_l']
temp_df['suggested_']
temp_df['route_feas']
temp_df['reason_for']
temp_df['start_loc_cordinate']
temp_df['forest_s_2']
temp_df['forest_e_2']
temp_df['crossing_Start']
temp_df['crossing_end']
temp_df['end_loca_coordinate']
temp_df['scope']
temp_df['road_edge_']
temp_df['road_edg_3']
temp_df['end_point_name']
temp_df['end_loca_phpto']
temp_df['crossing_5']
temp_df['state_code']
temp_df['district_c']
temp_df['block_code']
temp_df['ring_no']
temp_df['crossing_a']
temp_df['ch_no']
temp_df['SEQ']

In [41]:
def categorize_value(value):
    value = str(value)  # Ensure value is string
    if any(sub in value.lower() for sub in ['re', 're ']):  # Check for 'Re' or 'RE'
        return 'CROSSING'
    elif any(sub in value.lower() for sub in ['cul', 'culvert', 'bridge']):  # Check for 'cul', 'Culvert', 'Bridge'
        return 'ROAD STRUCTURE'
    elif any(sub in value.lower() for sub in ['gp', 'gram panchyat', 'grampanchayat']):  # Check for 'GP', 'Gp', etc.
        return 'ASSET'
    else:
        return 'LANDMARK'

def haversine_distance(lat1, lon1, lat2, lon2):
    """Calculate the distance between two lat-long points using the Haversine formula."""
    # Convert latitude and longitude to radians
    lat1, lon1, lat2, lon2 = map(radians, [float(lat1), float(lon1), float(lat2), float(lon2)])
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    r = 6371e3  # Earth's radius in meters
    return c * r


def calculate_road_width(row):
    re1 = row['road_edge_'].strip('POINT()').split(' ')
    re2 = row['road_edg_3'].strip('POINT()').split(' ')
    road_width = haversine_distance(re1[1], re1[0], re2[1], re2[0])
    return road_width

def calculate_road_chainage(row):
    chainage = ''
    if 'kms' in str(row['end_point_name']).lower():
        chainage = row['end_point_name'] +", "+ row['end_loca_phpto']
    else:
        chainage = 'NA'
    return chainage 

def calculate_structure(row):
    structure = ''
    if 'cul' in row['end_point_name'].lower():
        structure = 'CULVERT'
    elif 'bri' in row['end_point_name'].lower():
        structure = 'BRIDGE'
    else:
        structure = ''
    return structure

def calculate_xing_length(row):
    xing_length = 0
    if 'cul' in row['end_point_name'].lower() or 'bri' in row['end_point_name'].lower():
        xing1 = row['crossing_Start'].strip('POINT()').split(' ')
        xing2 = row['crossing_end'].strip('POINT()').split(' ')
        xing_length = haversine_distance(re1[1], re1[0], re2[1], re2[0])
    return xing_length

def calculate_protec(row):
    protection = ''
    if 'cul' in row['end_point_name'].lower():
        protection = 'DWC+PCC'
    elif 'bri' in row['end_point_name'].lower():
        protection = 'GI+PCC'
    else:
        protection = ''

def calculate_protec_length(row):
    xing_length = 0
    if 'cul' in row['end_point_name'].lower() or 'bri' in row['end_point_name'].lower():
        xing1 = row['crossing_Start'].strip('POINT()').split(' ')
        xing2 = row['crossing_end'].strip('POINT()').split(' ')
        xing_length = haversine_distance(re1[1], re1[0], re2[1], re2[0])
        return xing_length + 2
    else:
        return 0
    
boq_ds_df['POINT NAME'] = temp_df['end_point_name'].str.upper()
boq_ds_df['TYPE'] = temp_df['end_point_name'].apply(categorize_value)
boq_ds_df['POSITION'] = temp_df['ofc_laying']
boq_ds_df['OFFSET'] = 'NA'
boq_ds_df['SPAN_CONTINUITY'] = temp_df['SEQ']
boq_ds_df['CHAINAGE'] = pd.DataFrame([0.0] + [sum(list(temp_df['distance'])[:i+1]) for i in range(1, len(list(temp_df['distance'])))]).values
boq_ds_df['DISTENCE(M)'] = temp_df['distance']
boq_ds_df['CROSSING_START'] = temp_df['crossing_Start']
boq_ds_df['CROSSING_END'] = temp_df['crossing_end']
boq_ds_df['ROUTE NAME'] = temp_df['span_name']
boq_ds_df['ROUTE TYPE'] = temp_df['scope']
boq_ds_df['OFC TYPE'] = '24F'
boq_ds_df['LAYING TYPE'] = 'UG'
boq_ds_df['ROUTE ID'] = temp_df['span_id']
boq_ds_df['ROUTE MARKER'] = 'NOT VISIBLE'
boq_ds_df['MANHOLE'] = 'NOT VISIBLE'
boq_ds_df['ROAD NAME'] = temp_df['road_name']
boq_ds_df['ROAD WIDTH(m)'] = temp_df.apply(calculate_road_width, axis=1)
boq_ds_df['ROAD SURFACE'] = temp_df['road_surfa']
boq_ds_df['OFC POSITION'] = temp_df['ofc_laying']
boq_ds_df['APRX DISTANCE FROM RCL(m)'] = 'NA'
boq_ds_df['AUTHORITY NAME'] = temp_df['road_autho']
boq_ds_df['ROAD CHAINAGE'] = temp_df.apply(calculate_road_chainage, axis=1)
boq_ds_df['ROAD STRUTURE TYPE'] = temp_df.apply(calculate_structure, axis=1)
boq_ds_df['LENGTH (IN Mtr.)'] = temp_df.apply(calculate_xing_length, axis=1)
boq_ds_df['PROTECTION TYPE'] = temp_df.apply(calculate_protec, axis=1)
boq_ds_df['PROTECTION FOR'] = temp_df.apply(calculate_structure, axis=1)
boq_ds_df['PROTECTION LENGTH (IN Mtr.)'] = temp_df.apply(calculate_protec_length, axis=1)
boq_ds_df['UTILITY NAME'] = "NA"
boq_ds_df['SIDE OF THE ROAD'] = "NA"
boq_ds_df['SOIL TYPE'] = temp_df['strata_typ']
boq_ds_df['TERRAIN'] = temp_df['terrain_ty']
boq_ds_df['REMARKS'] = "NA"

boq_ds_df

,POINT NAME,TYPE,POSITION,OFFSET,SPAN_CONTINUITY,CHAINAGE,DISTENCE(M),CROSSING_START,CROSSING_END,ROUTE NAME,...,ROAD STRUTURE TYPE,LENGTH (IN Mtr.),PROTECTION TYPE,PROTECTION FOR,PROTECTION LENGTH (IN Mtr.),UTILITY NAME,SIDE OF THE ROAD,SOIL TYPE,TERRAIN,REMARKS
358,GP ADHANPUR,ASSET,LHS,NA,0,0.000000,0.000000,NaN,NaN,ADHANPUR TO ADHANPUR,...,,0,None,,0,NA,NA,Normal_Soil,Plains,NA
358,GP ADHANPUR,ASSET,LHS,NA,1,2583.984213,2583.984213,NaN,NaN,ADHANPUR TO ADHANPUR,...,,0,None,,0,NA,NA,Normal_Soil,Plains,NA
357,CE,LANDMARK,LHS,NA,2,2775.051578,191.067365,POINT(78.27068759033334 26.7456319665),POINT(78.27073329966667 26.745680516833332),ADHANPUR TO ADHANPUR,...,,0,None,,0,NA,NA,Normal_Soil,Plains,NA
356,KM STONE PINHAT,LANDMARK,LHS,NA,3,2885.883875,110.832297,NaN,NaN,ADHANPUR TO ADHANPUR,...,,0,None,,0,NA,NA,Normal_Soil,Plains,NA

In [259]:
%pip install math

ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math
Note: you may need to restart the kernel to use updated packages.

In [1]:
from math import radians, sin, cos, sqrt, atan2

In [34]:
temp_df['end_point_name']

358        GP ADHANPUR
358        GP ADHANPUR
357                 Ce
356    Km stone pinhat
Name: end_point_name, dtype: object

In [42]:
boq_ds_df.to_excel('mapped_output.xlsx', index=False)